<h1>Instructors</h1>
<form class="form-inline">
	<div class="from-gropu row">
		<input type="text" class="form-control" style="width: 20em" />
		<button type="button" class="btn btn-primary" style="margin-right: 0.5em">Search</button> 
		<button type="button" class="btn btn-primary" style="margin-right: 0.1em">Add</button> 
		<button type="button" class="btn btn-primary" style="margin-right: 0.1em">Delete</button> 
	</div>
</form>
<p>
<form class="form">
		<table class="table">
			<thead>
				<tr>
					<th style= "width: 1em" scope="col">#</th>
					<th style="text-align: center; width: 8em" scope="col">Code</th>
					<th scope="col">Instructor Name</th>
					<th style="text-align: center; width: 8em" scope="col">Subject</th>
					<th style="text-align: center; width: 5em" scope="col">Phone</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><input type="checkbox" style="text-align: center"/></td>
					<td style="text-align: center">001</td>
					<td>Siriwan Thongkum</td>
					<td style="text-align: center">English</td>
					<td style="text-align: center">0953586816</td>
				</tr>
			</tbody>
		</table>
</form>
