/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link {
	color: blue;
}

.link:hover {
	font-weight: bold;
}

.row-link:hover td{
	cursor: pointer;
	/* background-color: lightgray; */
	border-bottom: 2px solid lightgray;
}
